<div class="jumbotron">
<h1>
Enter the Aerodromes:
</h1>
<%= bootstrap_form_tag url: '/home/briefing', method: 'get' do |f| %>
 <div class="form-group">
     <label for="inputAerodromes3" class="col-sm-3 control-label"></label>
      <%= f.text_field :aerodromes, hide_label: :true, help: "Separate different aerodromes by a comma (,)." %>
<%= f.form_group :time, label: { text: "Charts for:" }, help: "Set the time you want for the weather charts." do %>
<div class="form-inline">
  <%= f.radio_button :time, 0, label: "00 Hours", checked: true %>
  <%= f.radio_button :time, 1, label: "06 Hours" %>
  <%= f.radio_button :time, 2, label: "12 Hours" %>
  <%= f.radio_button :time, 3, label: "18 Hours" %>
</div>
<% end %>  
<% f.form_group :terms do %>
  <% f.check_box :wx, label: "Weather Package" %>
  <% f.check_box :notam, label: "Notam Package" %>
<% end %>
	    <center><%= f.submit "Go!", class: "btn btn-success btn-lg" %></center>
<% end %>
</div>
</div>
			<div class="row">
				<div class="col-md-4">
					<div class="thumbnail" id="lppt">
						<div class="caption">
							<h3>
								LISBOA METAR
							</h3>
							<p>
  			<% metar = open("http://weather.noaa.gov/pub/data/observations/metar/stations/LPPT.TXT") %>
  			<%= metar.read %>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail" id="lpfr">
						<div class="caption">
							<h3>
								FARO METAR
							</h3>
							<p>
  			<% metar = open("http://weather.noaa.gov/pub/data/observations/metar/stations/LPFR.TXT") %>
  			<%= metar.read %>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail" id="lppr">
						<div class="caption">
							<h3>
								PORTO METAR
							</h3>
							<p>
  			<% metar = open("http://weather.noaa.gov/pub/data/observations/metar/stations/LPPR.TXT") %>
  			<%= metar.read %>
							</p>
						</div>
<script>
$('#aerodromes').on('change', function(){
    $(this).val($(this).val().replace(/\s+/g,""))
});
</script>